.formBlock{
    color:#4ECDC4;
    background-color: rgba(236, 236, 236, 0.938);
    border-radius:10%;
    padding: 5%;
    width: 50%;
    font-family: 'dunbarlowregular', Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
    float: center;
    margin-left: 20rem;
    margin-right: 20rem;
    margin-top: 10rem;
    margin-bottom: 10rem;
    

}

.submitbuton{
    background-color: #4ECDC4;
    border:#4ECDC4;
    font-weight:bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.submitbuton:hover{
    background-color:#1a948c;
    border:#1a948c
}

.submitbuton:focus{
    background-color:#4ECDC4;
}

.submitbuton :active{
    
    background-color:#10726b;
}

.submitbuton{
    background-color: #4ECDC4;
    border:#4ECDC4
}

.labels{
    text-align: initial;
    font-weight: 500;
    color: black;
}