.formBlock{
    color: rgb(167, 19, 19);
    background-color: rgba(236, 236, 236, 0.938);
    border-radius:10%;
    padding: 5%;
    width: 50%;
    

}

.submitbuton{
    background-color: #4ECDC4;
    border:#4ECDC4
}